.orderCard {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 5% 5%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.container input {
  width: 100%;
}

.form {
  padding: 1% 33%;
}

.button {
  margin-top: 1rem;
  padding: 1%;
  background-color: rgb(243, 60, 60);
  color: white;
  font-weight: bold;
  font-size: medium;
}
