.mainDiv {
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5px;
  border-radius: 100%;
  margin-top: 4%;
  background-color: gray;
  transition: background-color 0.4s;
  color: white;
}

.xDiv {
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5px;
  margin-top: 4%;
  background-color: gray;
  color: white;

}

.xDiv:hover {
  background-color: red;
  font-weight: bold;
}

.mainDiv:hover {
  background-color: #444d44;
}

.mainText {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  min-width: 10px;
  min-height: 10px;
  margin: 0px;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .mainDiv {
    display: none;
  }
}