.mainDiv {
  padding: 25px 25px 17px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  transition: background-color 0.4s;
}

.mainSpan {
  background: transparent;
  color: #ffffff;
  text-align: center;
  font-size: 36px;
}

.mainDiv:hover {
  background-color: #444d44;
}