.item {
  margin: 1rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 5rem;
  padding: 1rem;
}

.orderInfo {
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
  background-color: white;
  border-radius: 0px 0px 6px 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 0.2rem;
}

.orderInfo div {
  margin: auto;
}

.orderCard {
  border-radius: 6px 6px 0px 0px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  height: 12rem;
  overflow: auto;
}
