.item {
  margin: 1rem 0;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.content h3 {
  font-size: 2rem;
  color: #2c292b;
}

.content img{
  width: 25rem;
  height: 15rem;
}

.content button {
  font: inherit;
  cursor: pointer;
  color:  white;
  border: 1px solid #77002e;
  background-color: #310bdd;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
}

.content button:hover,
.content button:active {
  background-color: #cc0d56;
}

@media only screen and (max-width: 600px) {
  .content img {
    width: 10rem;
  }
}