.item {
  margin: 1rem 0;
}

.content {
  text-align: center;
  background-color: lightgray;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  height: 9rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.description {
  width: 20%;
  word-wrap: break-word;
  overflow: hidden;
}

.content h3 {
  font-size: 2rem;
  color: #2c292b;
  text-align: center;
  margin: auto;
}

.content img {
  max-width: 9rem;
}

.description:hover {
  overflow: auto;
}
