.orderCard {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 5% 5%;
  width: 30rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.container input{
  width: 18rem;
}

.form{
  padding: 1% 40%;
}

.button{
  margin-top: 1rem;
  padding: 1%;
}

